---
layout: page
---

<!-- about.html -->
<div class="post">
  <article>
    {% if page.profiles %}
    {%- if page.display_categories %}
    <!-- Display categorized people -->
    {%- for category in page.display_categories %}
    <h2 class="category">{{ category }}</h2>
    <hr>
    {%- assign categorized_profiles = page.profiles | where: "category", category -%}
    {%- assign profiles = categorized_profiles | sort: "importance" %}
    <div class="container">
      <div class="row">
        {% for profile in profiles %}
        <div class="col-lg-6 mt-1 mb-4 mt-md-1">
          <div class="row">
            <div class="col-sm-3 col-lg-4 col-4 mt-1">
              {%- if profile.image %}
              {%- assign profile_image_path = profile.image | prepend: '/assets/img/' -%}
              <img src="{{ profile_image_path }}" class="img-fluid z-depth-1 rounded" width="130px"
                alt="{{ profile.image }}">
              {%- endif %}
            </div>
            <div class="col-sm-9 col-lg-8 col-8 mt-1">
              {% if profile.content -%}
              {% capture profile_content %}{%- include_relative {{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
              {%- else -%}
              {{ content }}
              {%- endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    {%- endif %}
    {%- endif %}
  </article>
</div>